.footer {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin-top: 50px;
    padding: 0 0 15px 0;
    text-align: center;
    font-size: 1.3rem;
    border-top: 1px solid #000;
}


.footer-text {
    margin: 10px;
    font-weight: 600;
}


.link-text {
    text-decoration: none;
    color: #f30;
}


.link-text:hover {
    color: #06c;
}