/* Mobile Portrait Orientation: Galaxy Fold, iPhone 5/SE */
/* Mobile Portrait Orientation */
/* Mobile Landscape Orientation */
/* Tablet and PC */
@media screen and (min-width: 280px) {
    .my-trip {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    h1 {
        padding-bottom: 10px;
        font-size: 2rem;
    }


    .main-text {
        text-align: left;
        font-size: 2rem;
        font-weight: 700;
        color: #333;
    }

    .sub-text {
        text-align: left;
        font-size: 1.3rem;
        font-weight: 400;
        color: #677;
    }


    #countdown-text {
        text-align: center;
    }


    .countdown-emphasis {
        font-size: 2rem;
        font-weight: 700;
        color: #f6c;
    }


    .city-image {
        width: 100%;
        margin-top: 10px;
    }
}


/* Mobile Portrait Orientation */
@media screen and (min-width: 280px) and (max-width: 547px) {
    .entry {
        width: auto;
        height: auto;
        margin: 0 10px;
        padding: 20px;
        text-align: center;
        word-break: break-all;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        list-style-type: none;
    }


    .box-weather-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .box-temp {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}


/* Mobile Landscape Orientation */
/* Tablet and PC */
@media screen and (min-width: 548px) {
    .entry {
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: auto;
        height: auto;
        margin: 0 10px;
        padding: 10px;
        text-align: center;
        word-break: break-all;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        list-style-type: none;
    }


    .box-image {
        width: 40%;
        margin: 10px;
    }


    .box-info-layout {
        width: 60%;
        padding: 20px 0 0 20px;
    }


    .box-info-sub-layout {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }


    .box-trip-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }


    .box-weather-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}